$red: hsl(0deg, 68%, 61%);
$very_dark_blue: hsl(225deg, 13%, 12%);
$dark_gray: hsl(226deg, 6%, 40%);
$medium_gray: hsl(223deg, 7%, 53%);
$light_gray: hsl(225deg, 17%, 82%);
$very_light_gray: hsl(230deg, 21%, 95%);
$white: hsl(0deg, 0%, 100%);

$medium: 500;
$bold: 700;
